<!-- 
<footer class="text-center  p-4 bg-light">
    <h2>Privacy Policy</h2>
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
    </div>
</footer> -->