
<%- layout('/layouts/boilerplate') %>
<div class="container-form mt-5">
    <h1 class="text-center text-primary mb-4">Your Shortened URL</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form action="/<%= newurl.shortId  %>/analytics" method="post" class="animate-form">
                <label for="url" class='form-label'>Copy The Shortened URL:</label>
              <input id="url" value="<%= fullShortUrl %>" type="text" class="form-control" readonly>
<a href="<%= fullShortUrl %>" class="btn btn-success mt-3 w-100" target="_blank">Visit Shortened URL</a>

                <button class="btn btn-warning mt-3 w-100">See Analytics</button>
            </form>
        </div>
    </div>
</div>
